.articles {
    padding: 100px 0 20px;
    background-color: $bgColor;
    &__title {
        margin-top: 15px;
    }

    &__items {
        @include adaptive(margin-top, 40, 0, 1);
    }

    &__item {
        margin-top: 20px;
    }

    &__img {
        min-height: 370px;
        position: relative;
        padding: 0 10px;
        padding-bottom: 35px;
        &::after {
            background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, $accent 100%);
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            transition: all .3s ease 0s;
        }
        @media (max-width: $md4+px) {
            min-height: 300px;
        }
    }

    &__name {
        font-size: 21px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        z-index: 2;
        max-width: 217px;
        @media (max-width: $md2+px) {
            max-width: 350px;
            font-size: 28px;
        }
        @media (max-width: $md4+px) {
            font-size: 24px;
        }
        @media (max-width: $md5+px) {
            font-size: 20px;
        }
    }

    &__btn {
        background: $accent;
        border: 1px solid #FFFFFF;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.1em;
        padding: 0.83em 1.94em;
        border: none;
        transition: all .3s ease 0s;
        @include adaptive(margin-top, 60, 30, 1);
        @media(any-hover: hover) {
            &:hover {
                box-shadow: 1px 1px 6px rgba(51, 51, 51, 0.8);
            }
        }
    }
}
