$accent: #333333;
$whiteColor: #ffffff;
$bgColor: #F9F9F9;

$notoFont: 'Noto Serif', 'sans-serif';

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;
$md5: 479.98;
